<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FindUs?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Your page description here" />
  <meta name="author" content="" />

  <!-- css -->
  <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,600,700,800" rel="stylesheet">
  <link href="../css/bootstrap.css" rel="stylesheet" />
  <link href="../css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="../css/flexslider.css" rel="stylesheet" />
  <link href="../css/prettyPhoto.css" rel="stylesheet" />
  <link href="../css/camera.css" rel="stylesheet" />
  <link href="../css/jquery.bxslider.css" rel="stylesheet" />
  <link href="../css/style.css" rel="stylesheet" />

  <!-- Theme skin -->
  <link href="../color/default.css" rel="stylesheet" />

  <link href="../img/mylogo.png" rel="icon"/> 

</head>

<body>

  <div id="wrapper">

    <!-- start header -->
    <header>
      

      <div class="top">
        <div class="container">
          <div class="row">
            <div class="span6">
              <p class="topcontact"><i class="icon-phone"></i> XX XXX XXX XXX</p>
            </div>
            <div class="span6">

              <ul class="social-network">
                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest  icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-google-plus icon-white"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Dribbble"><i class="icon-dribbble icon-white"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>



      <div class="container">


        <div class="row nomargin">
          <div class="span4">
            <div class="logo">
              <a href="#"><img src="../img/mylogo.png" alt="" /></a>
            </div>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
<ul class="nav topnav">
<li><a href="/users">User Home</a></li>
<li><a href="/users/addlocation">Add Location</a></li>
<li><a href="/users/viewlocations">View Locations</a></li>
<!--
<li class="dropdown">
<a href="/service">Service<i class="icon-angle-down"></i></a>
<ul class="dropdown-menu">
<li><a href="#">Latest News</a></li>
<li><a href="#">Latest Events</a></li>
</ul>
</li>
<li><a href="/register">Register</a></li>-->
<li><a href="/logout">Logout</a></li>
</ul>
</nav>
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>


    </header>
<b>Welcome : <%= sunm %></b>    

    <!-- end header -->

